header {
  padding: 19px 2.5% 76px 2.5%;
  display: flex;
  /* justify-content: space-between; */
}
#mainLogo {
  width: 5%;
  aspect-ratio: 1;
  margin-right: 4%;
}
nav,
ul {
  display: flex;
  align-items: center;
}
ul {
  gap: 5%;
  margin: auto 14% auto 41%;
}
li {
  list-style: none;
}
a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}
#goCatalog {
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  border: 2px solid #393;
  background: #393;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
#basket {
}
